<nav
  class="navbar navbar-dark justify-content-center bg-dark"
  style="height: 55px"
>
  <div class="text-white" style="font-size: 40px">
    <i class="fas fa-hat-wizard"></i> Magic-IO
  </div>
</nav>
<nav
  class="navbar navbar-dark justify-content-center"
  style="
    height: 55px;
    z-index: 2;
    height: 35px;
    margin-top: 20px;
    background-color: #373737;
  "
>
  <ul class="nav" style="margin-top: -10px">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/']" style="color: white"
        >Inicio</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: white">></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/camisa']" style="color: white"
        >Camisas</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <div
    class="p-3 mb-2 text-white text-center footer"
    style="background-color: #373737"
  >
    2021 - Pedro
  </div>
</footer>
