<nav class="navbar navbar-dark bg-primary" style="height: 55px; z-index: 2">
  <div style="color: white; margin-left: 15px; font-size: 25px">
    <i class="fas fa-dragon"></i>
    Sistema de roupas
  </div>
</nav>

<div class="navbar-dark bg-primary sidenav">
  <div class="list-group list-group-flush sidenav-itens">
    <a [routerLink]="['/']" class="btn btn-primary text-white">Inicio </a>
    <a [routerLink]="['/camisa']" class="btn btn-primary text-white"
      >Camisas
    </a>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="p-3 mb-2 bg-secondary text-white text-center footer">
    2021 - Pedro
  </div>
</footer>
