<!-- Titulo -->
<div class="title">
  <p>Camisas Femininas</p>
  <a
    [routerLink]="['/camisasFemininas/cadastrar']"
    class="btn btn-primary add-btn"
    role="button"
    ><i class="fas fa-plus-circle"></i> Adicionar</a
  >
</div>
<!-- Itens -->
<div class="card bg-dark back-card">
  <div class="row">
    <div
      class="col-sm d-flex justify-content-center bg-dark camisa-card-base"
      *ngFor="let camisa of camisasFemininas"
    >
      <div class="card bg-dark prod-card">
        <div class="card-body img-backprodut">
          <img
            src="https://img.elo7.com.br/product/zoom/2737EA7/camiseta-infantil-feminina-dungeons-and-dragons-personagem-camisetas.jpg"
            class="card-img-top prod-img"
            alt="camisa"
          />

          <h5 class="card-title">Marca: {{ camisa.marca }}</h5>
          <h5 class="card-title">Cor: {{ camisa.cor }}</h5>
          <h5 class="card-title">Tamanho: {{ camisa.tamanho }}</h5>
          <h5 class="card-title">Preço: {{ camisa.preco }}</h5>

          <a
            class="btn btn-warning actions-btn text-white"
            role="button"
            [routerLink]="['alterar/', camisa.id]"
          >
            <i class="fas fa-pencil-alt"></i> Editar
          </a>

          <a
            class="btn btn-danger actions-btn text-white"
            role="button"
            (click)="deleteById(camisa.id)"
          >
            <i class="fas fa-trash"></i> Apagar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
