.fontSize {
  font-size: 16px;
}

.botoes {
  margin: 10px;
}

.form-back {
  background-image: url("../../../shared/img/FormFem.png");
  background-repeat: no-repeat;
  max-width: 300px;
  margin: 20px auto;
  border: none;
}
