<div style="text-align: center; font-size: 40px; margin-top: 5px">
  <p>Camisas</p>
  <a
    [routerLink]="['/camisa/cadastrar']"
    class="btn btn-primary"
    style="margin-top: -50px"
    role="button"
    ><i class="fas fa-plus-circle"></i> Adicionar</a
  >
</div>

<div class="card bg-dark" style="margin: 20px; font-size: 16px">
  <div class="row">
    <div
      class="col-sm d-flex justify-content-center bg-dark"
      *ngFor="let camisa of camisas"
      style="margin: 20px 0"
    >
      <div class="card prod-card bg-dark" style="border-color: #8d8d8d">
        <div class="card-body">
          <img
            src="https://images.tcdn.com.br/img/img_prod/680735/camiseta_sistema_solar_925_1_20200802195553.jpg"
            class="card-img-top"
            alt="camisa"
            width="500"
            height="210"
            style="margin-bottom: 20px"
          />

          <h5 class="card-title">Marca: {{ camisa.marca }}</h5>
          <h5 class="card-title">Cor: {{ camisa.cor }}</h5>
          <h5 class="card-title">Tamanho: {{ camisa.tamanho }}</h5>
          <h5 class="card-title">Preço: {{ camisa.preco }}</h5>

          <a
            class="btn btn-warning actions-btn text-white"
            role="button"
            [routerLink]="['alterar/', camisa.id]"
            style="margin-left: 80px"
          >
            Editar
          </a>

          <a
            class="btn btn-danger actions-btn text-white"
            role="button"
            (click)="deleteById(camisa.id)"
          >
            Apagar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
