<div class="card text-center bg-dark form-back">
  <form [formGroup]="camisasMasculinasForm">
    <!-- Marca Input -->
    <div class="form-group">
      <app-field-validation-container [required]="true">
        <label label class="fontSize" for="marca">Marca </label>
        <input
          input
          type="text"
          class="form-control"
          id="marca"
          placeholder="Ex: Nike"
          formControlName="marca"
        />
      </app-field-validation-container>
    </div>
    <!-- Cor Input -->
    <div class="form-group">
      <app-field-validation-container [required]="true">
        <label label class="fontSize" for="cor">Cor </label>
        <input
          input
          type="text"
          class="form-control"
          id="cor"
          placeholder="Ex: Azul"
          formControlName="cor"
        />
      </app-field-validation-container>
    </div>
    <!-- Tamanho Select -->
    <div class="form-group">
      <app-field-validation-container [required]="true">
        <label label class="fontSize" for="tamanho">Tamanho </label>
        <select
          input
          class="form-control"
          id="tamanho"
          formControlName="tamanho"
        >
          <option>P</option>
          <option>M</option>
          <option>G</option>
        </select>
      </app-field-validation-container>
    </div>
    <!-- Preço Input -->
    <div class="form-group">
      <app-field-validation-container [required]="true">
        <label label class="fontSize" for="preco">Preço </label>
        <input
          input
          type="text"
          class="form-control"
          id="preco"
          placeholder="Ex: R$:11,25"
          formControlName="preco"
        />
      </app-field-validation-container>
    </div>
    <!-- Adicionar Button -->
    <a
      (click)="onSave(camisasMasculinasForm.value)"
      class="btn btn-primary botoes text-white"
      type="submit"
      role="button"
      ><i class="fas fa-plus-circle"></i> Adicionar</a
    >
    <!-- Cancelar Button -->
    <a
      (click)="onCancel()"
      class="btn btn-secondary botoes text-white"
      role="button"
      ><i class="fas fa-times-circle"></i> Calcelar</a
    >
  </form>
</div>
